body{
    font-family: 'Lato', sans-serif;
}

#right {
    background-color: #0d2c54;
    /* height: 100%; */
}

h1{
    color: white;
}

#intro {
    color: white;
}

.btn {
    border-radius: 4px;
    border: 2px solid #f6511d;
    color: #f6511d;
    display: inline-block;
    margin: 0 .25em;
    overflow: hidden;
    padding: 24px 60px 24px 16px;
    position: relative;
    text-decoration: none;
    line-height: 1;
  }
  .btn .btn-content {
    font-size: 1em;
    line-height: 1.2;
    padding: 0 26px;
    position: relative;
    right: 0;
    transition: right 300ms ease;
    display: block;
    text-align: left;
  }
  .btn .icon {
    border-left: 1px solid #f6511d;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transition: all 300ms ease;
    transform: translateY(-50%);
    width: 58px;
    height: 70%;
  }
  .btn .icon i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f6511d;
    opacity: 0;
    transition: opacity 300ms ease;
  }
  .btn:hover .btn-content {
    right: 100%;
  }
  .btn:hover .icon {
    border-left: 0;
    font-size: 1.8em;
    width: 100%;
  }
  .btn:hover:after {
    opacity: .2;
  }
  .btn.btn-alt-color {
    border-color: salmon;
    color: salmon;
  }
  .btn.btn-alt-color .icon {
    border-left-color: salmon;
  }
  .btn.btn-alt-color:after {
    background-color: salmon;
  }

  .fab {
      color: #f6511d;
  }

  .fab:hover{
    opacity: .2;
  }

  #web-nav {
    width: 20%;
    background-color:#0d2c54 ;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    min-height: 600px;
}

#web-nav img.logo {
    margin: 70px auto 85px auto;
    display: block;
    width: 80px;
    height: auto;
}

ul, menu, dir {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

#web-nav #menu {
    color: #fff;
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
    list-style-type: none;
    text-decoration: none;


}
#web-nav #menu li {
    width: 100px;
    height: 35px;
    font-size: 1.2em;
    color: #fff;
    list-style-type: none;
    text-decoration: none;



}

li {

    display: list-item;
    text-align: -webkit-match-parent;
    text-decoration: none;

}

#web-nav #menu .subs ul.link-subs li {
    height: 20px;
    margin-top: 0px;
}

#web-nav #address {
    color: #fff;
    letter-spacing: 0.11em;
    font-size: 0.6em;
    font-family: 'bgMed',sans-serif;
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
    position: absolute;
    bottom: 23px;
    left: 35px;
    padding: 0px;
    margin: 0px;
}

#web-nav #address li {
    height: 16px;
}

#web-nav {width:20%; background-image:#0d2c54; height:100%; overflow:auto; float:left; z-index:20; position:fixed; left:0px; min-height:600px;}
#web-nav img.logo { margin: 70px auto 85px auto; display:block; width:80px; height:auto;}
#web-nav #menu {color:#fff; text-align:right; list-style-type:none; margin-right:40px; float:right;}
#web-nav #menu a {text-decoration:none; text-transform:uppercase;}
#web-nav #menu a.active {color:#f6511d; }
#web-nav #menu a:hover {color:#f6511d; }
#web-nav #menu li {width:100px; height:35px; font-size:1.2em; }
#web-nav #menu .subs ul.link-subs { font-family:'bgMed', arial,Helvetica,sans-serif; display:none; list-style-type:none; font-size:0.5em; margin:10px 0px 10px 0px; padding:0px;}
#web-nav #menu .subs ul.link-subs li {height:20px; margin-top:0px;}
#web-nav #menu .subs:hover a.parent {color:#f6511d;}
#web-nav #menu .main-link:hover {cursor:pointer;}
/*
#web-nav #menu .subs.work-menu:hover {height:auto;}

#web-nav #menu .subs.work-menu:hover ul.work-subs {display:block;}
#web-nav #menu .subs.work-menu:hover ul.work-subs {display:block;}
*/

#web-nav #menu .subs.blog-menu.show-years { height:auto; }
#web-nav #menu li.active a.parent {color:#f6511d;}
#web-nav #menu .subs.blog-menu.show-years ul.link-subs { display:block; }

/* BELOW HAD HEIGHT AUTO on .show-subs, and DISPLAY BLOCK on .link-subs */
#web-nav #menu .subs.work-menu.show-subs {}
#web-nav #menu li.active a.parent {color:#f6511d;}
#web-nav #menu .subs.work-menu.show-subs ul.link-subs { display:none; }

#web-nav #address {color:#fff; letter-spacing:0.11em; font-size:0.6em; font-family:'bgMed',sans-serif; text-transform:uppercase; text-align:left; list-style-type:none; position:absolute; bottom:23px; left:35px; padding:0px; margin:0px;}
#web-nav #address li {height:16px;}
#mobile-nav {display:none;}
#mobile-expand {display:none;}