#tc{
    height: 15%;
    line-height: 100px;
    width: 50%;
    background-color: #f6511d;
    color: white;
    margin-top: 40%;
    margin-left: 30%;
    text-align: center;
  
  }
  span{
    color:white;
    margin-top: 20%
  }

 