body{
    font-family: 'Lato', sans-serif;
}

#reimx:hover{
  background-color: red;
}

#right {
    background-color: #0d2c54;
    /* height: 100%; */
}

h1{
    color: white;
}

#intro {
    color: white;
}


  #web-nav {
    width: 20%;
    background-color:#0d2c54 ;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    min-height: 600px;
}

#web-nav img.logo {
    margin: 70px auto 85px auto;
    display: block;
    width: 80px;
    height: auto;
}

ul, menu, dir {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

#web-nav #menu {
    color: #fff;
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
    list-style-type: none;
    text-decoration: none;


}
#web-nav #menu li {
    width: 100px;
    height: 35px;
    font-size: 1.2em;
    color: #fff;
    list-style-type: none;
    text-decoration: none;



}

li {

    display: list-item;
    text-align: -webkit-match-parent;
    text-decoration: none;

}

#web-nav #menu .subs ul.link-subs li {
    height: 20px;
    margin-top: 0px;
}

#web-nav #address {
    color: #fff;
    letter-spacing: 0.11em;
    font-size: 0.6em;
    font-family: 'bgMed',sans-serif;
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
    position: absolute;
    bottom: 23px;
    left: 35px;
    padding: 0px;
    margin: 0px;
}

#web-nav #address li {
    height: 16px;
}

#web-nav {width:20%; background-image:#0d2c54; height:100%; overflow:auto; float:left; z-index:20; position:fixed; left:0px; min-height:600px;}
#web-nav img.logo { margin: 70px auto 85px auto; display:block; width:80px; height:auto;}
#web-nav #menu {color:#fff; text-align:right; list-style-type:none; margin-right:40px; float:right;}
#web-nav #menu a {text-decoration:none; text-transform:uppercase;}
#web-nav #menu a.active {color:#f6511d; }
#web-nav #menu a:hover {color:#f6511d; }
#web-nav #menu li {width:100px; height:35px; font-size:1.2em; }
#web-nav #menu .subs ul.link-subs { font-family:'bgMed', arial,Helvetica,sans-serif; display:none; list-style-type:none; font-size:0.5em; margin:10px 0px 10px 0px; padding:0px;}
#web-nav #menu .subs ul.link-subs li {height:20px; margin-top:0px;}
#web-nav #menu .subs:hover a.parent {color:#f6511d;}
#web-nav #menu .main-link:hover {cursor:pointer;}
/*
#web-nav #menu .subs.work-menu:hover {height:auto;}

#web-nav #menu .subs.work-menu:hover ul.work-subs {display:block;}
#web-nav #menu .subs.work-menu:hover ul.work-subs {display:block;}
*/

#web-nav #menu .subs.blog-menu.show-years { height:auto; }
#web-nav #menu li.active a.parent {color:#f6511d;}
#web-nav #menu .subs.blog-menu.show-years ul.link-subs { display:block; }

/* BELOW HAD HEIGHT AUTO on .show-subs, and DISPLAY BLOCK on .link-subs */
#web-nav #menu .subs.work-menu.show-subs {}
#web-nav #menu li.active a.parent {color:#f6511d;}
#web-nav #menu .subs.work-menu.show-subs ul.link-subs { display:none; }

#web-nav #address {color:#fff; letter-spacing:0.11em; font-size:0.6em; font-family:'bgMed',sans-serif; text-transform:uppercase; text-align:left; list-style-type:none; position:absolute; bottom:23px; left:35px; padding:0px; margin:0px;}
#web-nav #address li {height:16px;}
#mobile-nav {display:none;}
#mobile-expand {display:none;}

#homeh {
    background-color: #f6511d;
}

#contentarea{
    margin-left: 18.5%;
}

/* this is for insane form fields */
h1 {
    font-size: 28px;
    margin-bottom: 2.5%;
  }
  
  input,
  span,
  label,
  textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  }
  
  textarea:focus,
  input:focus {
    outline: 0;
  }
  /* Question */
  
  input.question,
  textarea.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */
  
  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid #f6511d;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  input.question:focus + label,
  textarea.question:focus + label {
    width: 80%;
  }
  
  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }
  
  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #0d2c54;
  }
  
  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #0d2c54;
  }
  
  input.question:valid + label,
  textarea.question:valid + label {
    border-color: #0d2c54;
  }
  
  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  }
  
  input.question + label > span,
  textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #f6511d;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background: #f6511d;
  }
  
  input[type="submit"]:active {
    background: #f6511d;
  }
  
  input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
  }
  
  input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
  }

  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }

  #contentarea2{
    margin-left: 21.5%;
}